<h1>{{ title }}</h1>
<hr />
<nav>
  <a routerLink="/search">Start a Search</a> | 
  <a routerLink="/list">Item List</a> | 
  <a routerLink="/quick">Quick Add Item</a> | 
  <a routerLink="/add">Add Item</a> 

</nav>
<hr />
<router-outlet></router-outlet>
<hr />
TODO for quick add
<ol>
  <li>setup as obserables all methods in inventory.service</li>
  <li>allow passing of type to quicken methods
    <ol>
      <li>if type passed, set selected type to passed type and hide type</li>
    </ol>
  </li>
</ol>

TODO for Add
<ol>
  <li>Logic constraint on series length being greater than series number if set at all</li>
  <li>GOOGLE FORM CONTROL VALIDATION</li>
  <li>Validators</li>
  <li>subscribe cleanup</li>
</ol>
<hr />
<pre>
-= PROJECT NOTES =-

Browse/Item Listing (check out, return)
  Item Details (modify, check out, return)
    Modify Items(save, cancel, delete)
Search
  Search Results
Admin
  ItemTypes (Add, Delete, Modify)
  Formats (Add, Delete, Modify)
  Persons (Add, Delete, Modify)
  Genres (Add, Delete, Modify)
  Publishers (Add, Delete, Modify)
  Rulesets (Add, Delete, Modify)
  Settings (Add, Delete, Modify)
  Series (Add, Delete, Modify)
  Statuses (Add, Delete, Modify)
</pre>
<hr />
<pre>
-= Structure =-

ItemType
ItemName
Series
NumberInSeries
SeriesLength
Author(s)
Publisher(s)
Format
Setting
Genre(s)
Rulesets
Status
</pre>

